<script src="/js/main.js"></script>
</body>
<bottom>
    <footer class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="https://www.uta.edu/legalaffairs/notices/legal-and-privacy-notice.php"><b>Privacy and Legal Notice</b></a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="https://accessibility.uta.edu/"><b>Accessibility</b></a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href=" https://www.uta.edu/site-policies"><b>Site Policies</b></a>
                </li>
                <li class="main-header__item">
                    <a class="nav-link" href="mailto:cse-mln-project@uta.edu; mln.project.nsf@gmail.com" title=""><b>Contact</b></a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="https://www.uta.edu"><b>© 2022 The University of Texas at Arlington</b></a>
                </li>
            </ul>
        </nav>
    </footer>
</bottom>
</html>